[submodule "ExcellentMInecraftscripts"]
	path = ExcellentMInecraftscripts
	url = git@github.com:AAswordman/ExcellentMInecraftscripts.git
[submodule "wp/scripts/ExcellentMInecraftscripts"]
	path = wp/scripts/ExcellentMInecraftscripts
	url = git@github.com:AAswordman/ExcellentMInecraftscripts.git
[submodule "wp/ExcellentMInecraftscripts"]
	path = wp/ExcellentMInecraftscripts
	url = git@github.com:AAswordman/ExcellentMInecraftscripts.git
